General
*~

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/

# QtCreator project files
*.creator
*.files
*.includes
*.config

# Kernel
kernel/bin
kernel/doc
kernel/obj
kernel/Doxyfile

# OpenOCD
*.cfg
